# redeploy
# redeploy 2
# redeploy 3
# redeploy 4
# redeploy 5
name: Deploy to Firebase
 
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Install Functions Dependencies
        working-directory: functions
        run: npm install

      - name: Deploy Hosting, Functions and Firestore Rules
        run: firebase deploy --only hosting,functions,firestore:rules --force
